<h1> Edit Team</h1>

<%= form_for @team do |f| %>
<%= f.label :name  %>:
<%= f.text_field :name %><br>

<%= f.label :mascot %>:
<%= f.text_field :mascot %><br>

<%= f.submit "Team Edited" %>

<% end %>
